
.vs/Trench/v16/.suo

.vs/Trench/v16/Server/sqlite3/db.lock

.vs/Trench/v16/Server/sqlite3/storage.ide

.vs/Trench/v16/Server/sqlite3/storage.ide-shm

.vs/Trench/v16/Server/sqlite3/storage.ide-wal

Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

Build/*
Library/*
Logs/*
obj/*
Temp/*
UserSettings/*
Trench.sln

.vs/Trench/config/applicationhost.config
